<section class="login">
  <article class="form">
    <article class="title">
      <mat-icon
        class="icon"
        aria-hidden="false"
        aria-label="Icon World"
        fontIcon="public"
      ></mat-icon>
      <h1>World <span>Ranks - Login</span></h1>
    </article>
    <mat-form-field class="search">
      <mat-icon
        aria-hidden="false"
        aria-label="search"
        fontIcon="person"
        class=""
      ></mat-icon>
      <input matInput placeholder="User" />
    </mat-form-field>
    <mat-form-field class="search">
      <mat-icon
        aria-hidden="false"
        aria-label="search"
        fontIcon="pin"
        class=""
      ></mat-icon>
      <input matInput placeholder="Password" />
    </mat-form-field>
  </article>
</section>
