<section class="login">
  <article class="form">
    <article class="title">
      <mat-icon
        class="icon"
        aria-hidden="false"
        aria-label="Icon World"
        fontIcon="public"
      ></mat-icon>
      <h1>World <span>Ranks - Login</span></h1>
    </article>
    <form [formGroup]="loginForm" class="formLogin" (ngSubmit)="login()">
      <mat-form-field class="search">
        <mat-icon
          aria-hidden="false"
          aria-label="search"
          fontIcon="person"
          class=""
        ></mat-icon>
        <input matInput placeholder="User" formControlName="user" />
      </mat-form-field>
      <span *ngIf="userControl?.invalid && userControl?.touched" class="error">User is required</span>
      <mat-form-field class="search">
        <mat-icon
          aria-hidden="false"
          aria-label="search"
          fontIcon="pin"
          class=""
        ></mat-icon>
        <input matInput type="password" placeholder="Password" formControlName="password" />
      </mat-form-field>
      <span *ngIf="passwordControl?.invalid && passwordControl?.touched" class="error">Password is required</span>
      <button mat-raised-button [disabled]="this.loginForm.invalid" color="primary" type="submit">Login</button>
    </form>
  </article>
</section>
